.home-container {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, git#ccf5f8, #f3d9b4);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.form-content {
    background: rgba(0, 0, 0, 0.5); 
    padding: 30px;
    border-radius: 10px;
    color: white;
    width: 400px;
}
  